body {
	margin-top: 33px;
	padding:5px;
}

.topmenu {
	top:0px;
	left:0px;
	width:100%;
	z-index:9000;
	height:inherit;
	position:fixed;
	clear:both;
	overflow:hidden;
}

.adminbar {
	text-align:right;
	clear:both;
	float:right;
}

.adminbar img{
	vertical-align:middle;
	border:0;
}
.navbar {
	padding:5px;
}

blockquote blockquote {
	margin-left: 0em;
}

form {
	margin-bottom: 0px;
}

form .trap {
	display:none;
}

.postarea {
	text-align: center;
	border-top:1px solid !important;
	border-bottom:1px solid !important;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}
.postarea table {
	margin: 0px 0px 0px 31%;
	text-align: left;
}

.thumb {
	border: none;
}

.imglink {
	float: left;
	margin: 2px 20px;
}

.thumb[src*="/src/"] {
	max-width: 100%;
	max-height: unset;
	height: auto;
}

.nothumb {
	float: left;
	text-align: center;
	padding: 14px;
	margin: 0 20px 2px 20px;
	border: 3px dashed;
}

.reflink a {
	color: inherit;
	text-decoration: none;
}

.reflink a:hover {
	color: #800000;
}

.reply .filesize {
	margin-left: 20px;
}

.userdelete {
	float: right;
	text-align: center;
	white-space: nowrap;
}

.replypage .replylink {
	display: none;
}

.pagelist {
	max-width: 600px;
}

.admin {
	color: #800080;
	font-weight: normal;
}

.mod {
	color: #FF0000;
	font-weight: normal;
}

.vip {
	color: #336600;
	font-weight: normal;
}

#watchedthreads {
	position: absolute;
	background-color: #F0E0D6;
	border: 1px dotted #EEAA88;
	border-top: 0px none;
}

#watchedthreadsdraghandle {
	text-align: center;
	cursor: move;
}

#watchedthreadlist {
	padding: 3px;
	font-size: 0.8em;
}

#watchedthreadsbuttons {
	position: absolute;
	bottom: 3px;
	left: 3px;
}

.spoiler {
	color: black;
	background-color: black;
}

.extrabtns {
	vertical-align: middle;
}

.hidethread {
	background: transparent url('./icons/red/icons.svg') -32px -16px no-repeat;
}

.unhidethread img {
	background: transparent url('./icons/red/icons.svg') -48px 0px no-repeat;
}

.watchthread {
	background: transparent url('./icons/red/icons.svg') -32px 0px no-repeat;
}

.expandthread {
	background: transparent url('./icons/red/icons.svg') 0px -16px no-repeat;
}

.quickreply {
	background: transparent url('./icons/red/icons.svg') 0px 0px no-repeat;
}

.hidewatchedthreads {
	background: transparent url('./icons/red/icons.svg') -48px -16px no-repeat;
}

.refreshwatchedthreads {
	background: transparent url('./icons/red/icons.svg') -16px -16px no-repeat;
}

.restorewatchedthreads {
	background: transparent url('./icons/red/icons.svg') -16px 0px no-repeat;
}

.wtnav {
	background: transparent url('./icons/red/wt.svg') 0px 0px no-repeat;
}

.archnav {
	background: transparent url('./icons/red/archive.svg') 0px 0px no-repeat;
}

.catnav {
	background: transparent url('./icons/red/catalog.svg') 0px 0px no-repeat;
}

.senav {
	display: none;
	/* background: transparent url('./icons/red/search.svg') 0px 0px no-repeat; */
}

.homenav {
	background: transparent url('./icons/red/mainpage.svg') 0px 0px no-repeat;
}

.manav {
	background: transparent url('./icons/red/admin.svg') 0px 0px no-repeat;
}

.reflinkpreview {
	position: absolute;
	padding: 5px;
	background-color: #F0E0D6;
	border: 1px dotted #000000;
}

.catalogtable {
	text-align: center;
}

.pgstbl table {
	border:1px solid;
}

.thrdcntnr {
	border-bottom:1px solid !important;
	padding: 5px 0 15px 0;
	display:block;
}

.thrdcntnr::after {
	content: ' ';
	clear: both;
	display: block;
}
	
.reply {
    width: auto;
    display:table;
    margin-top: 4px;
	min-width: 380px;
	margin-left: 20px;
}

.highlight {
    width: auto;
    display:table;
    margin-top: 4px;
	min-width: 380px;
}

.catalogthread {
	vertical-align: top;
    word-wrap: break-word;
    overflow: hidden;
    display: inline-block;
    padding: 4px;
    width: 210px;
    max-height: 350px;
    min-height: 200px;
    margin-top: 5px;
    position: relative;
}

.catalogthread a {
	text-decoration: none !important;
}

.cataloglist { 
	padding: 20px 0px;
	text-align: center;
	border-bottom:1px solid !important;
}

.closed {
	background: transparent url('locked.svg')top right no-repeat;
}

.sticked {
	border: 1px dotted;
}

.inline-pp, .prettyprint {
	white-space: pre-wrap;
}

.threadlinksbottom {
	text-align: right;
}

input[type=text], input[type=password], textarea {
	margin: 0px;
	margin-right: 2px;
	padding: 2px 4px 3px 4px;
	outline: none;
	font-size: 10pt;
}

.sound {
	float: left;
	padding-right: 20px;
	padding-bottom: 2px;
}

.reflinkpreview .reply {
    border: none !important;
}

.reflinkpreview input {
    display: none;
}

.footer {
	text-align: center;
	font-size: 12px;
	clear: both;
}

.unhidethread {
	border-bottom:1px solid;
}

.filesize {
	text-decoration: none;
	font-size: 10px;
}

.doubledash {
	display:none;
}

/*Keep this while search is broken*/
.adminbar img[src="/css/icons/red/search.svg"] {
	display:none !important;
}

@media only screen and (max-width: 480px) {
	html {
		text-size-adjust:100%;
		-moz-text-size-adjust:100%;
		-webkit-text-size-adjust:100%;
		-ms-text-size-adjust:100%;
	}

	html, body {
		background:#FFFFEE;
		color:#090E00;
		font-size:8pt;
		max-width:100%!important;
	}

	a {
		color:#DD0000;
		font-size:11pt;
	}

	a:hover {
		color:#0000EE;
	}

	.reflink{
		clear:both;
		text-align:right;
	}

	.adminbar {
		text-align:right;
		clear:both;
		background:inherit;
		float:right;
		margin-right:2px;
	}

	.logo {
		clear:right;
		font-family: Times New Roman,serif;
		text-align:center;
		font-size:20pt;
		color:#800000;
		width:100%;
		display:inline;
	}

	.replymode {
		background:#D0AB65;
		text-align:center;
		padding:2px;
		color:#FFFFFF;
		width:100%;
	}

	.catalogmode {
		background:#D0AB65;
		text-align:center;
		padding:2px;
		color:#FFFFFF;
		width:100%;
	}

	.postarea table {
		margin:0;
		width:100%;
	}

	.rules {
		display:none;
	}

	.rules li {
		display:none;
	}

	.postblock {
		background:#F1C984;
		color:#403C0F;
		font-weight:800;
	}

	.footer {
		display:none;
	}

	.passvalid {
		background:#EEAA88;
		text-align:center;
		width:100%;
		color:#ffffff;
	}

	.dellist {
		font-weight: bold;
		text-align:center;
	}

	.delbuttons {
		text-align:center;
		padding-bottom:4px;

	}

	.managehead {
		background:#AAAA66;
		color:#400000;
		padding:0px;
	}

	.postlists {
		background:#FFFFFF;
		width:100%;
		padding:0px;
		color:#800000;
	}

	.row1 {
		background:#EEEECC;
		color:#090E00;
	}

	.row2 {
		background:#DDDDAA;
		color:#090E00;
	}

	.unkfunc {
		background:inherit;
		color:#789922;
	}

	.filesize {
		text-decoration:none;
		font-family:sans-serif;
		font-size: 5pt;
	}

	.filetitle {
		background:inherit;
		color:#CC1105;
		font-weight:800;
		white-space: pre-wrap;       /* css-3 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
		word-break: break-all;
		white-space: normal;
		overflow: hidden!important;
		width:100%!important;
	}

	.postername {
		color:#310000;
		font-family:sans-serif;
	}

	.postertrip {
		color:#228854;
	}

	.oldpost {
		color:#CC1105;
		font-weight:800;
	}

	.omittedposts {
		color:#707070;
		clear:both!important;
	}

	.reply {
		background: #FFECB2;
		color: #090E00;
		border: 1px solid #F9E0A8;
		width:100%!important;
		clear:both;
		padding:0px!important;
		margin-left:4px!important;
		display:table;
		min-width: 0;
	}
	.replyhl {
		background: #FFECB2;
		color: #090E00;
	}

	.doubledash {
		display:none;
	}

	.replytitle {
		font-size: 1.5em;	color:#CC1105;
		font-weight:800;
	}

	.commentpostername {
		color:#117743;
		font-weight:800;
	}

	.thumbnailmsg {
		font-size: small;
		color:#800000;
	}

	.abbrev {
		color:#707070;
		font-size:8pt;
	}

	.highlight {
		background: #FFECB2;	color:#800000;
		border: 2px dashed #EEAA88;
	}


	#watchedthreads {
		background: #FFECB2 !important;
	}


	.reflinkpreview {
		background: #FFECB2 !important;
	}
	.userdelete table tr td {
		border: 1px solid #F9E0A8;
	}
	table {
		border-style: none;
	}
	button {
	border: 1px solid #F9E0A8;

	 background-color: #FFECB2;	
	}
	textarea {
		width:70%!important;
		margin: 0px;
		margin-right: 2px;
		padding: 2px 4px 3px 4px;
		border: 1px solid #AAA;
		outline: none;
		font-size: 10pt;
	}
	input[type=file]{
		width:70%!important;;
	}

	input[type=text], input[type=password] {
		margin: 0px;
		margin-right: 2px;
		padding: 2px 4px 3px 4px;
		border: 1px solid #AAA;
		outline: none;
		font-size: 10pt;
		width:40%!important;
	}

	input[type=submit] {		
		border: 1px solid #D0AB65;
		outline: none;
		background: #F9E0A8;
		margin: 0px;
		margin-right: 2px;
		padding: 2px 4px 3px 4px;
	}

	input[type=submit]:hover {		
		border: 1px solid #D0AB65;
		outline: none;
		background: #FFECB2;
		margin: 0px;
		margin-right: 2px;
		padding: 2px 4px 3px 4px;
	}

	.extrabtns {
		display:none;		
	}

	.hidethread {
		background: transparent url('./icons/red/icons.svg') -32px -16px no-repeat;
	}

	.unhidethread {
		background: transparent url('./icons/red/icons.svg') -48px 0px no-repeat;
	}

	.watchthread {
		background: transparent url('./icons/red/icons.svg') -32px 0px no-repeat;
	}

	.expandthread {
		background: transparent url('./icons/red/icons.svg') 0px -16px no-repeat;
	}

	.quickreply {
		background: transparent url('./icons/red/icons.svg') 0px 0px no-repeat;
	}

	.hidewatchedthreads {
		background: transparent url('./icons/red/icons.svg') -48px -16px no-repeat;
	}

	.refreshwatchedthreads {
		background: transparent url('./icons/red/icons.svg') -16px -16px no-repeat;
	}

	.restorewatchedthreads {
		background: transparent url('./icons/red/icons.svg') -16px 0px no-repeat;
	}
	
	.wtnav {
		display:none;
	}

	.archnav {
		background: transparent url('./icons/red/archive.svg') 0px 0px no-repeat;
	}

	.catnav {
		background: transparent url('./icons/red/catalog.svg') 0px 0px no-repeat;
	}

	.senav {
		display: none;
	}

	.homenav {
		background: transparent url('./icons/red/mainpage.svg') 0px 0px no-repeat;
	}

	.manav {
		background: transparent url('./icons/red/admin.svg') 0px 0px no-repeat;
	}

	.reflinkpreview {
		background-color: #FFECB2 !important;
	}

	hr {
		border-style: solid none none none;
		border-width: 1px;
		border-color: #555;
	}
	.topmenu {
		border-bottom: 1px solid #F9E0A8;
		top:0px;
		left:0px;
		width:100%;
		opacity: 0.95;
		z-index:9000;
		height:inherit;
		position:fixed;
		clear:both;
		overflow:hidden;
		background:#FFFFEE;
	}
	.adminbar img{
		vertical-align:middle;
		border:0;
	}
	.navbar {
		padding:5px;
	}

	body {
		margin-top: 48px;
	}

	.reply blockquote, blockquote :last-child {
		margin-bottom: 0em;
	}

	img {
		max-width:80px;
		max-height:80px;
		object-fit:scale-down;
	}

	.imglink {
		margin: 2px 4px;
	}

	.adminbar select {
		display:none;
	}
	blockquote {
		font-size:10pt;
		max-width:100%!important;
		height:auto!important;
		display:block!important;
		margin-left: 4px!important;
		width:100%!important;
	}
	.filesize a {
		font-size:10pt;
	}
	#resizer {
		display:none;
	}
	.nothumb {
		float: left;
		background: #eee;
		border: 2px dashed #aaa;
		text-align: center;
		margin: 2px 4px;
		padding: 1em 0.5em 1em 0.5em;
	}
	.adminbar img[src="/css/icons/red/wt.svg"], img[src="/css/icons/red/search.svg"]{
		display:none;
	}
	.reply pre, a{
		white-space: pre-wrap;       /* css-3 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
		word-break: break-all;
		white-space: normal;
	}
	#posttypeindicator span{
		clear:left;
	}
	div [id*="replies"]{
		clear:both;
		padding:0px!important;
	}
	div [id*="thread"]{
		clear:both;
		max-width:100%!important;
		margin:0px;
		padding:0px!important;
	}

	input[name="deletepost"]{
		clear:right;
	}

	.userdelete {
	    text-align:left;
	    white-space:normal;
	}	
	.catalogthread {
		width: 180px;
	}
}