﻿<div class="content">
<h2><div class="newssub">Как применяются правила?</div><div class="permalink">&nbsp;</div></h2>
Перечисленные на странице «Правила» положения обязательны к исполнению всеми, включая администрацию. Каждый случай оценивается в индивидуальном порядке.<br/>
Если вы сомневаетесь, не подпадает ли ваше сообщение под запреты, лучше воздержаться от его публикации.
<br/><br/>
Пределы применения правил определяются администрацией, однако в некоторых случаех есть заранее оговорённые толкования. Так, например, пятое правило в качестве «толстого» троллинга помимо всего прочего рассматривает
однотипные сообщения явного оскорбительного характера, не несущие в себе дополнительной информационной ценности; особенно в тех случаях, когда в них усматривается провокация дальнейшего конфликта. 
<br/><br/>
Дополнения и изменения правил допускаются администрацией только после публичного обсуждения.
<h2><div class="newssub">Как работает капча?</div><div class="permalink">&nbsp;</div></h2>
Во имя устранения возможных эксцессов, касающихся постинга, на чане используется особый вид капчи, носящий условное наименование
«faptcha».<br/>
На большинстве досок его принцип работы заключается в том, что пользователю выводится изображение случайного персонажа аниме, имя которого
следует вписать в строку ввода капчи. Можно использовать как латиницу (например: desu, gin, boku, index  и т.д.), так и кириллицу (десу, гин, боку, индекс).
<br/>
<br/>
В разделе /cu/ же действует специальная капча с изображениями еды. Здесь можно вводить названия оных продуктов питания как на английском (bread), так и на русском (хлеб) языках.
<br/>
<br/>
Важно помнить, что многократный неверный ввод кода подтверждения может привести к автоматическому бану на доске в течение 20 минут. Если вы испытываете сомнения по поводу правильности вводимого вами варианта, лучше обновите капчу до того предмета,
который вы точно знаете. Обновление происходит по нажатию на картинку.<br/>
При правильном вводе кода подтверждения капча переходит в так называемый адаптивный режим. При нём можно публиковать сообщения без ввода подтверждения. То, что капча перешла в такой решим, показывается явным образом: прочерком в поле для её ввода.
Проверить, доступна ли она, без перезагрузки страницы можно с помощью нажатия на @ рядом с полем ввода.
Срок действия истекает спустя сутки после публикации последнего сообщения. Кроме того, при слишком частом постинге (чаще, чем раз в 20 секунд) капча также возвращается.
<h2><div class="newssub">Доски</div><div class="permalink">&nbsp;</div></h2>
410chan состоит из ряда тематических разделов, именуемых досками.<br/>
Одна из них — /b/ — является общетематической, остальные предназначены для более специфических обсуждений. 
<br/>
<br/>
Нити, выходящие за рамки, ограниченные тематикой раздела, могут быть удалены, закрыты или перенесены на соответствующую их содержанию доску. В случае с /b/ подобным манипуляциям подлежат все треды, теме которых соответствует какая-либо другая тематическая доска. Так, тред про аниме из /b/ с высокой долей вероятности будет отправлен в /a/. Предполагается, что при высокой культуре постинга подобные эксцессы не должны быть излишне частыми.
<h2><div class="newssub">Разметка</div><div class="permalink">&nbsp;</div></h2>
В качестве основного средства форматирования текста на 410чане применяется язык разметки, основанный на Wakaba-mark.
<table border=1><tr><th>Ввод</th><th>Вывод</th></tr>
<tr><td>*курсивное начертание*</td><td><i>курсивное начертание</i></td></tr>
<tr><td>**полужирное начертание**</td><td><b>полужирное начертание</b></td></tr>
<tr><td>`код`</td><td><tt>код</tt></td></tr>
<tr><td>%%спойлер%%</td><td><span style="color: black;" class="spoiler" onmouseover="this.style.color='white';" onmouseout="this.style.color='black'">спойлер</span></td></tr>
<tr><td>^^зачёркивание^^</td><td><s>зачёркивание</s></td></tr>
<tr><td>>>180000</td><td><a href="#180000">>>180000</a></td></tr>
<tr><td>>>/b/188888</td><td><a href="#b180000">>>/b/188888</a></td></tr>
<tr><td>>цитата</td><td><blockquote>>цитата</blockquote></td></tr>
<tr><td>http://example.org</td><td><a href="http://example.org">http://example.org</a></td></tr>
<tr><td>https://example.org</td><td><a href="https://example.org">https://example.org</a></td></tr>
<tr><td>ftp://example.org</td><td><a href="ftp://example.org">ftp://example.org</a></td></tr>
<tr><td>irc://example.org</td><td><a href="irc://example.org">irc://example.org</a></td></tr>
</table>
Форматирование через символ «_» на данный момент не поддерживается.
</div><br>
